
<!-- flybutton  -->
  <div class="alert alert-secondary rounded" role="alert"
    [ngClass]="{ 
        'alert-danger' : isOver == true && isOverCommit === false,
        'alert-success': isOver == true && isOverCommit === true 
     }">  
    
    <span>{{buttonLabel}}</span>

    <app-swipe-button-inner *ngIf="isOver"
        [buttonLabel]  = buttonLabel
        [confirmLabel] = confirmLabel
        [cancelLabel]  = cancelLabel
        (outInnerEvent)  = "innerEvent($event)"
        (outInnerNotify) = "innerNotify($event)"
    ></app-swipe-button-inner>

</div>

<!--
<app-flybutton-inner *ngIf="isOver"
[buttonLabel]  = buttonLabel
[confirmLabel] = confirmLabel
[cancelLabel]  = cancelLabel
(outflybuttonNotify) = "flyButtonNotify($event)"
(outflybuttonEvent)  = "flyButtonEvent($event)"
></app-flybutton-inner>
-->


  
