
<!-- swipe button  -->
<!-- 
  <div class="alert alert-secondary rounded" role="alert"
  [ngClass]="{ 
      'alert-danger' : isOver == true && isOverCommit === false,
      'alert-success': isOver == true && isOverCommit === true 
  }"
-->
<!-- <h6 class="alert alert-secondary rounded" role="alert" -->
<!-- Small modal -->


<button type="button" class="btn box-zero" 
    [ngClass]="{  'btn-light'  : isOver == false,
                  'btn-danger' : isOver == true && isOverCommit === false,
                  'btn-success': isOver == true && isOverCommit === true }" >  

    <div>{{buttonLabel}}</div>

    <app-swipe-button-inner *ngIf="isOver" class="box-due"  
        [buttonLabel]   = buttonLabel 
        [confirmLabel]  = confirmLabel 
        [selectLabel]   = selectLabel 
        [cancelLabel]   = cancelLabel 
        (outInnerEvent)  = "innerEvent($event)"
        (outInnerNotify) = "innerNotify($event)"
    ></app-swipe-button-inner> 
    
</button>
