
<div class="card" style="width: 18rem;">
  <div class="card-header">
    swipe-time-picker works!
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <input type="text" class="form-control" placeholder="HH" />
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
          <button type="button" class="btn btn-info" 
              (mouseenter) ="selectDigit('H1')"
              (mouseleave) ="deselectDigit('H1')"> 
              <span>H1</span>
          </button>
          <button type="button" class="btn btn-info" 
              (mouseenter) ="selectDigit('H2')"
              (mouseleave) ="deselectDigit('H2')"> 
              <span>H2</span>
          </button>
          <button type="button" class="btn btn-light">:</button>
          <button type="button" class="btn btn-secondary" 
              (mouseenter) ="selectDigit('s1')"
              (mouseleave) ="deselectDigit('s1')"> 
              <span>s1</span>
          </button>
          <button type="button" class="btn btn-secondary" 
              (mouseenter) ="selectDigit('s2')"
              (mouseleave) ="deselectDigit('s2')"> 
              <span>s2</span>
          </button>
        </div>
      </div>
    </li>
    <li class="list-group-item" *ngIf="activeNumericBoard()">
      <div class="row">
        <div class="col">
          <app-flybutton [buttonLabel]  = "'1'" 
              [confirmLabel] = "'Seleziona'" [cancelLabel]  = "'Annulla'" 
              (outflybutton) = "openFormModal(workday)">
          </app-flybutton>
        </div>
        <div class="col">
          <app-flybutton [buttonLabel]  = "'2'" 
              [confirmLabel] = "'Seleziona'" [cancelLabel]  = "'Annulla'" 
              (outflybutton) = "openFormModal(workday)">
          </app-flybutton>
        </div>
        <div class="col">
          <app-flybutton [buttonLabel]  = "'3'" 
              [confirmLabel] = "'Seleziona'" [cancelLabel]  = "'Annulla'" 
              (outflybutton) = "openFormModal(workday)">
          </app-flybutton>
        </div>
        <div class="col">
          <app-flybutton [buttonLabel]  = "'4'" 
              [confirmLabel] = "'Seleziona'" [cancelLabel]  = "'Annulla'" 
              (outflybutton) = "openFormModal(workday)">
          </app-flybutton>
        </div>
        <div class="col">
          <app-flybutton [buttonLabel]  = "'5'" 
              [confirmLabel] = "'Seleziona'" [cancelLabel]  = "'Annulla'" 
              (outflybutton) = "openFormModal(workday)">
          </app-flybutton>
        </div>
        <div class="col">
          <app-flybutton [buttonLabel]  = "'6'" 
              [confirmLabel] = "'Seleziona'" [cancelLabel]  = "'Annulla'" 
              (outflybutton) = "openFormModal(workday)">
          </app-flybutton>
        </div>
        <div class="col">
          <app-flybutton [buttonLabel]  = "'7'" 
              [confirmLabel] = "'Seleziona'" [cancelLabel]  = "'Annulla'" 
              (outflybutton) = "openFormModal(workday)">
          </app-flybutton>
        </div>
        <div class="col">
          <app-flybutton [buttonLabel]  = "'8'" 
              [confirmLabel] = "'Seleziona'" [cancelLabel]  = "'Annulla'" 
              (outflybutton) = "openFormModal(workday)">
          </app-flybutton>
        </div>
        <div class="col">
          <app-flybutton [buttonLabel]  = "'9'" 
              [confirmLabel] = "'Seleziona'" [cancelLabel]  = "'Annulla'" 
              (outflybutton) = "openFormModal(workday)">
          </app-flybutton>
        </div>
        <div class="col">
          <app-flybutton [buttonLabel]  = "'0'" 
              [confirmLabel] = "'Seleziona'" [cancelLabel]  = "'Annulla'" 
              (outflybutton) = "openFormModal(workday)">
          </app-flybutton>
        </div>
        <div class="col">
          <app-flybutton [buttonLabel]  = "'00'" 
              [confirmLabel] = "'Seleziona'" [cancelLabel]  = "'Annulla'" 
              (outflybutton) = "openFormModal(workday)">
          </app-flybutton>
        </div>
      </div>
    <li class="list-group-item">Seleziona numero</li>
  </ul>
</div>

