
<!-- Time Picker -->
 <div class="input-group">

    <div class="input-group-append">
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group mr-2" role="group" aria-label="First group">
            <div class="input-group-prepend">
                    <div class="input-group-text" id="btnGroupAddon">
                      <i class="far fa-clock"></i>
                    </div>
            </div>
            <diV>
              <!-- <input type="text" class="form-control" 
                  value="{{digitH1}}{{digitH2}}:{{digitS1}}{{digitS2}}"/> -->
            </diV>
              
            <button type="button" class="btn btn-light btn-sm" 
                      (mouseenter) ="selectDigit('H1')"
                      (mouseleave) ="deselectDigit('H1')"> 
                      <span>{{digitH1}}</span>
            </button>
            <button type="button" class="btn btn-light btn-sm" 
                      (mouseenter) ="selectDigit('H2')"
                      (mouseleave) ="deselectDigit('H2')"> 
                      <span>{{digitH2}}</span>
            </button>
            <button type="button" class="btn btn-light">:</button>
            <button type="button" class="btn btn-light btn-sm" 
                      (mouseenter) ="selectDigit('s1')"
                      (mouseleave) ="deselectDigit('s1')"> 
                      <span>{{digitS1}}</span>
            </button>
            <button type="button" class="btn btn-light btn-sm" 
                      (mouseenter) ="selectDigit('s2')"
                      (mouseleave) ="deselectDigit('s2')"> 
                      <span>{{digitS2}}</span>
            </button>
          </div>
      </div>
    </div>

    <!-- Errors -->
    <ng-template #errorbox></ng-template>  

    <div *ngIf="activeNumericBoard()">

      <div *ngIf="selectedDigit === 'H1'">
      <div class="card" style="width: 28rem;">
        <div class="card-header"> Seleziona H1 </div>
        <ul class="list-group list-group-flush">
          <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group" role="group" aria-label="Basic example">
              <app-swipe-button [buttonLabel]  = "'0'" [confirmLabel] = "'Conferma'" [cancelLabel]  = "'Annulla'" 
                (outSwipeButtonEvent) = "swipeButtonEvent($event)">
              </app-swipe-button>
              <app-swipe-button [buttonLabel]  = "'1'" [confirmLabel] = "'Conferma'" [cancelLabel]  = "'Annulla'" 
                (outSwipeButtonEvent) = "swipeButtonEvent($event)">
              </app-swipe-button>
              <app-swipe-button [buttonLabel]  = "'2'" [confirmLabel] = "'Conferma'" [cancelLabel]  = "'Annulla '" 
                (outSwipeButtonEvent) = "swipeButtonEvent($event)">
              </app-swipe-button>
            </div>
          </div>
        </ul>  
      </div>
      <ul class="list-group list-group-flush">
          <app-swipe-button [buttonLabel]  = "'Azzera'" [confirmLabel] = "'Conferma'" [cancelLabel]  = "'Annulla'" 
            (outSwipeButtonEvent) = "swipeButtonEvent($event)">
          </app-swipe-button>
      </ul> 
      </div>  

      <div *ngIf="selectedDigit !== 'H1'">
        <div class="card" style="width: 28rem;">
          <div class="card-header"> Seleziona {{selectedDigit}} </div>
          <ul class="list-group list-group-flush">
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
              <div class="btn-group" role="group" aria-label="Basic example">
                <app-swipe-button [buttonLabel]  = "'0'" [confirmLabel] = "'Conferma'" [cancelLabel]  = "'Annulla'" 
                  (outSwipeButtonEvent) = "swipeButtonEvent($event)">
                </app-swipe-button>
                <app-swipe-button [buttonLabel]  = "'1'" [confirmLabel] = "'Conferma'" [cancelLabel]  = "'Annulla'" 
                  (outSwipeButtonEvent) = "swipeButtonEvent($event)">
                </app-swipe-button>
                <app-swipe-button [buttonLabel]  = "'2'" [confirmLabel] = "'Conferma'" [cancelLabel]  = "'Annulla '" 
                  (outSwipeButtonEvent) = "swipeButtonEvent($event)">
                </app-swipe-button>
                <app-swipe-button [buttonLabel]  = "'3'" [confirmLabel] = "'Conferma'" [cancelLabel]  = "'Annulla'" 
                  (outSwipeButtonEvent) = "swipeButtonEvent($event)">
                </app-swipe-button>
                <app-swipe-button [buttonLabel]  = "'4'" [confirmLabel] = "'Conferma'" [cancelLabel]  = "'Annulla'" 
                  (outSwipeButtonEvent) = "swipeButtonEvent($event)">
                </app-swipe-button>
                <app-swipe-button [buttonLabel]  = "'5'" [confirmLabel] = "'Conferma'" [cancelLabel]  = "'Annulla'" 
                 (outSwipeButtonEvent) = "swipeButtonEvent($event)">
                </app-swipe-button>
                <app-swipe-button [buttonLabel]  = "'6'" [confirmLabel] = "'Conferma'" [cancelLabel]  = "'Annulla'" 
                 (outSwipeButtonEvent) = "swipeButtonEvent($event)">
                </app-swipe-button>
                <app-swipe-button [buttonLabel]  = "'7'" [confirmLabel] = "'Conferma'" [cancelLabel]  = "'Annulla'" 
                  (outSwipeButtonEvent) = "swipeButtonEvent($event)">
                </app-swipe-button>
                <app-swipe-button [buttonLabel]  = "'8'" [confirmLabel] = "'Conferma'" [cancelLabel]  = "'Annulla'" 
                  (outSwipeButtonEvent) = "swipeButtonEvent($event)">
                </app-swipe-button>
                <app-swipe-button [buttonLabel]  = "'9'" [confirmLabel] = "'Conferma'" [cancelLabel]  = "'Annulla'" 
                  (outSwipeButtonEvent) = "swipeButtonEvent($event)">
                </app-swipe-button>
              </div>
            </div>
          </ul>  
        </div>
  
          <ul class="list-group list-group-flush">
            <app-swipe-button [buttonLabel]  = "'Azzera'" [confirmLabel] = "'Conferma'" [cancelLabel]  = "'Annulla'" 
              (outSwipeButtonEvent) = "swipeButtonEvent($event)">
            </app-swipe-button>
          </ul> 
  
      </div>  
  
    </div>
 </div>



