/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
body {
    background: #f3f3f3;
}

.lgl-info {
    color: #93ace4;
    font-size: 10px;
    font-weight: bold;
    text-decoration-line: line-through;
  }

.lgl-over {
    z-index: 9999;
}

.lgl-inner-commit {
    background-color: chartreuse;
}

.lgl-inner-cancel {
    background-color: tomato;
}


