
<!-- Swipe Button Inner  -->

<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">

    <div class="btn-group mr-2" role="group" aria-label="First group">
    <!-- btn: Cancel -->
    <button class="btn btn-danger btn-sm" title="{{cancelLabel}}" 
          (mouseenter)="wichButton('CANCEL')">
      <i class="fas fa-times"></i>
      {{cancelLabel}}
    </button> 

    <!-- btn: commit -->
    <button class="btn btn-secondary btn-sm btn-block" title="{{selectLabel}}" 
          (mouseenter)="wichButton('COMMIT')">
      <i class="fas fa-check"></i>
      {{buttonLabel}}
    </button>   

    <div class="btn-group mr-2 " role="group" aria-label="First group">
      <!-- btn: commit -->
      <button *ngIf="isCommit" class="btn btn-success btn-sm btn-block" title="{{confirmLabel}}" 
            (mouseenter)="confirmButton()">
        <i class="fas fa-check-double"></i>
        {{confirmLabel}}
      </button> 
    </div>  
  

  </div>


  
</div>



